_0_example_project/dk_example/Appli/Debug/
_0_example_project/dk_example/Boot/Debug/
_1_workshop_test/_2_ext_mem_2/try_2/Appli/Debug/
_1_workshop_test/_2_ext_mem_2/try_2/Boot/Debug/
_1_workshop_test/_2_ext_mem_2/try_2/ExtMemLoader/Debug/
_1_workshop_test/_3_ext_mem_3/try_3/Appli/Debug/
_1_workshop_test/_3_ext_mem_3/try_3/Boot/Debug/
_1_workshop_test/_3_ext_mem_3/try_3/ExtMemLoader/Debug/
_1_workshop_test/_4_ext_mem_4/try_4/Appli/Debug/
_1_workshop_test/_4_ext_mem_4/try_4/Boot/Debug/
_1_workshop_test/_4_ext_mem_4/try_4/ExtMemLoader/Debug/
